<div class="container" id="product">
  <div class="title">
    <h2>Products</h2>
  </div>
  <div class="content row">
    <div class="col-md-5">
      <h4 class="sub-title">ESimSol Textile ERP</h4>
      <p class=""><span class="">Tools &amp; Technology</span> : C#, .Net, ASP, Java Script, MS SQL Server
        2012<br>
        <span class="">Features &amp; Functionality</span> : Trade finance, Supply chain, Inventory &amp;
        Warehousing, Sales, Marketing, Laboratory, Production &amp; Production Schedule Management, QC &amp; Packaging,
        Distribution, Accounts, DSS, MIS
      </p>
    </div>
    <div class="col-md-2 midcol">
      <img class="img-fluid first-img" src="../../../assets/images/product1.jpg" alt="logo">
      <div class="verticle-line"></div>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" src="https://www.infocratsolutions.com/bigone.jpg" alt="logo">
    </div>
  </div>

  <div class="content row">
    <div class="col-md-5">
      <img class="img-fluid" src="https://www.infocratsolutions.com/bigtwo.jpg" alt="logo">
    </div>
    <div class="col-md-2 midcol">
      <img class="img-fluid" src="../../../assets/images/product2.jpg" alt="logo">
      <div class="verticle-line"></div>
    </div>
    <div class="col-md-5">
      <h4 class="sub-title">ESimSol Buying &amp; Garment ERP</h4>
      <p class=""><span class="">Tools &amp; Technology</span> : C#, .Net, ASP, Java Script, MS SQL Server
        2012<br>
        <span class="ovai">Features &amp; Functionality</span> : Order Management, Sourcing &amp; Supply, Commercial
        Mgt., Production, QC Management, Accounting, HCM, Courier Management, MIS &amp; DSS, Dashboard
      </p>
    </div>
  </div>

  <div class="content row">
    <div class="col-md-5">
      <h4 class="sub-title">ESimSol HRM &amp; Payroll</h4>
      <p class=""><span class="">Tools &amp; Technology</span> : C#, .Net, ASP, Java Script, MS SQL Server
        2012<br>
        <span class="">Features &amp; Functionality</span> : Sift wise Attendance Management, Leave Management,
        Holiday Management, Salary Scheme, Payroll, Disciplinary Action, Promotion, Transfer, Recruitment, Employee Role
        Management
      </p>
    </div>
    <div class="col-md-2 midcol">
      <img class="img-fluid" src="../../../assets/images/product3.jpg" alt="logo">
      <div class="verticle-line"></div>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" src="https://www.infocratsolutions.com/bigthree.jpg" alt="logo">
    </div>
  </div>

  <div class="content row">
    <div class="col-md-5">
      <img class="img-fluid" src="https://www.infocratsolutions.com/bigfour.jpg" alt="logo">
    </div>
    <div class="col-md-2 midcol">
      <img class="img-fluid last-img" src="../../../assets/images/product4.jpg" alt="logo">
      <!-- <div class="verticle-line"></div> -->
    </div>
    <div class="col-md-5">
      <h4 class="sub-title">ESimSol Financial ERP</h4>
      <p class=""><span class="">Tools &amp; Technology</span> : C#, .Net, ASP, Java Script, MS SQL Server
        2012<br>
        <span class="">Features &amp; Functionality</span> : All financial operations include advance practices.
        Strong interfacing with other applications (ERP) for financial accounts.
      </p>
    </div>
  </div>
</div>


