<div class="about container" id="about">
  <div class="title">
    <h2>About Us</h2>
  </div>
  <div class="content row">
    <div class="col-md-6 col-lg-4">
      <h4 class="sub-title">Quick Overview</h4>
      <p>Proclean Techno Ltd. started its operation on June, 2007 as an information systems/software application development farm; by a passionate and dedicated team. We are the optimized team blend; composed with domain-experts, tech-experts, QC personnel developing generalized as well as customized software solutions for business & industrial operations.</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <h4 class="sub-title">QTechnical Outline</h4>
      <p>Methodology: There is no short cut procedure/ technique that will ensure that in one fine morning a perfect software product will be delivered to customer!’ It’s required a subsequent recursion in order to develop a perfect software solution. More than twelve (12) years we are practicing Iterative & incremental development process and it’s a continuous process. Infocrat ensure the following strategies;</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <h4 class="sub-title">Infocrat’s corporate policies</h4>
      <div>
        <h3>Simplicity</h3>
        <p>Simplification is an art of positive phenomenon; we Infocrat are also in the race of simplifying our service beneficiaries life!</p>
        <h3>Quality</h3>
        <p>There is nothing to excuse except quality that deliver by engineering process!</p>
      </div>
    </div>
  </div>
</div>
