<div class="footer">
  <div class="row clients">
    <div class="col">

    </div>
  </div>
  <div class="our-clients">
    <marquee width="100%" direction="left" height="">
      <img src="../../../assets/images/logo-akij-textile.png" alt="">
      <img src="../../../assets/images/logo-al-muslim-group.png" alt="">
      <img src="../../../assets/images/logo-aps-group.png" alt="">
      <img src="../../../assets/images/logo-baly-group.jpg" alt="">
      <img src="../../../assets/images/logo-golden-refit.png" alt="">
      <img src="../../../assets/images/logo-ispahani-eye-hospital.png" alt="">
      <img src="../../../assets/images/logo-mithela.png" alt="">
      <img src="../../../assets/images/logo-paramont-textile.png" alt="">
      <img src="../../../assets/images/logo-rayontex.png" alt="">
      <img src="../../../assets/images/logo-sim-group.png" alt="">
    </marquee>
  </div>
  <div class="overfooter-area">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="">
            <h5>Our Services</h5>
            <ul>
              <li><a href="#">Security Policy</a></li>
              <li><a href="#">Orders, Stock Availability & Pricing</a></li>
              <li><a href="#">Shipping & Replacement</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="">
            <h5>Company Address</h5>
            <table>
              <tr>
                <td><i class="fa-solid fa-building" style="color: #0cb636;"></i></td>
                <td>
                  <span>YELLOW, Mohammadpur</span>
                </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-location-dot" style="color: #ff7b00;"></i></td>
                <td>
                  <span>House: 03 রিং রোড Mohammadpur, Opp to japan Garden City, Dhaka 1207, Bangladesh</span>
                </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-earth-asia" style="color: #0080ff;"></i></td>
                <td>
                  <span>https://yellowclothing.net</span>
                </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-phone" style="color: #42acd6;"></i></td>
                <td>
                  <span>+880 1755533504</span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-md-3">
          <div class="">
            <h5>Contact Us</h5>
            <table>
              <tr>
                <td><i class="fa-solid fa-building" style="color: #0cb636;"></i></td>
                <td>
                  <span>Infocrat Solution Ltd.</span> <br>
                  <span>Yellow- 7th Floor</span>
                </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-envelope" style="color: #0000ff;"></i></td>
                <td>
                  <span>infocrat.query@gmail.com</span>
                </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-phone" style="color: #42acd6;"></i></td>
                <td>
                  <span>+88 02 581 52927</span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-md-3">
          <div class="">
            <img src="../../../assets/images/logo.jpg" class="img-fluid" alt=""> <br>
            <strong>Countries popular software support provider</strong>
          </div> <br>
          <div class="social-link">
            <h6>Our Social Activities</h6>
            <a href=""><img src="../../../assets/images/social-fb.png" alt=""></a>
            <a href=""><img src="../../../assets/images/social-linkedin.png" alt=""></a>
            <a href=""><img src="../../../assets/images/social-twitter.png" alt=""></a>
            <a href=""><img src="../../../assets/images/social-instagramm.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container-fluid">
      <span>Copyright &copy; <a href="#">Infocrat solutions Ltd.</a></span> <br>
      <span>Developed & All Rights Reserved By: Infocrat solutions Ltd.</span>
    </div>
  </div>
</div>
