<div class="container" id="portfolio">
  <div class="title">
    <h2>FEW OF OUR SERVICE BENEFICIARIES</h2>
  </div>
  <div class="row content">
    <div class="col-md-6 col-lg-4">
      <ul>
        <li><a href="">Al-Muslim Group</a></li>
        <li><a href="">Akij Textile Mills Ltd.</a></li>
        <li><a href="">Aps Group</a></li>
        <li><a href="">Baly Group</a></li>
        <li><a href="">Everway Yarn Dyeing Ltd.</a></li>
        <li><a href="">Golden Refit Garments Ltd.</a></li>
      </ul>
    </div>

    <div class="col-md-6 col-lg-4">
      <ul>
        <li><a href="">H.R.M Sourcing Ltd.</a></li>
        <li><a href="">Ispahani Islamia Eye Institute & Hospital</a></li>
        <li><a href="">Mithela Textile Industries Ltd.</a></li>
        <li><a href="">MWUK Ltd.</a></li>
        <li><a href="">Paramount Textile Ltd.</a></li>
        <li><a href="">Pioneer knitwear's (BD) Ltd.</a></li>
      </ul>
    </div>

    <div class="col-md-6 col-lg-4">
      <ul>
        <li><a href="">Posmi Sweaters Ltd.</a></li>
        <li><a href="">Progress Motors Imports Ltd.</a></li>
        <li><a href="">Rayontex Ltd.</a></li>
        <li><a href="">Tuli Trading Ltd.</a></li>
        <li><a href="">Wangs Textile Ltd.</a></li>
        <li><a href="">and more...</a></li>
      </ul>
    </div>
  </div>
</div>
